#game {
    margin-top: 30px;
    height: auto;
}

#game section:first-child {
    height: auto;
    padding: 15px;
}

#game #cards {
    text-align: center;
    height: auto;
    padding-bottom: 40px;
}

#game #cards img { 
    cursor: pointer;
    margin-right: 10px;
}

#game footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#game footer button.bet-btn {
    padding: 15px;
    border-radius: 5px;
}

.deal-btn {
    padding: 15px;
    background-color: goldenrod;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bet { background-color: #FFBBBB; }

.pressed {
    border: 3px solid red;
}

.selected-card {
    border: 3px solid red;
    border-radius: 5px;
}