#game {
    border: 1px solid black;
    margin-top: 30px;
    height: auto;
}

#game table {
    border: 1px solid black;
    width: 100%;
}

#game th, td { padding: 5px; }

#game td { text-align: right; }

#game section:first-child {
    border-bottom: 1px solid black;
    height: auto;
    padding: 25px;
}

#game #cards {
    border-bottom: 1px solid black;
    text-align: center;
    height: auto;
}

#game section:nth-child(2) img { padding: 5px; }

#game section:last-child {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#game section:last-child button {
    padding: 10px;
}